$base-color: blue;
$important-color: #120066;
$warning-color: #68eeee;

$principal-font: Georgia, serif;
$secondary-font: "Times New Roman", serif;

$border-radius: 6px;

$box-shadow: 10px 10px 10px black;
