$base-color: red;
$important-color: darkred;
$warning-color: pink;

$principal-font: Arial, sans-serif;
$secondary-font: "Courier New", monospace;

$border-radius: 0;

$box-shadow: -10px 10px 10px black;