* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
  background-color: #fefefe;
}
#app {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #333;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

/* Ejercicio 1 */
[class^="container-"] {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: grey;
}

.base-color {
  color: white;
  flex: 1.5;
}

$color-Error: #e74c3c;
$color-primary: #5457c3;
$color-ok: #2ecc71;

@mixin generate-palette($base-color) {
  .base-color {
    background-color: $base-color;
  }

  @for $i from 1 through 4 {
    .darken-#{$i} {
      background-color: darken($base-color, $i * 10%);
    }

    .lighten-#{$i} {
      background-color: lighten($base-color, $i * 10%);
    }
  }
}
.container-1 {
  @include generate-palette($color-Error);
}

.container-2 {
  @include generate-palette($color-primary);
}

.container-3 {
  @include generate-palette($color-ok);
}

/* Ejercicio 3 */
$menu-color: #317588;
$menu-hover: #3c5164;
$text-color: white;

.container-nav {
  min-height: 50px;
  margin: 10px 0;
  padding: 0;
  background-color: $menu-color;

  ul {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    flex: 1;
  }

  a {
    display: block;
    padding: 20px;

    color: $text-color;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: $menu-hover;
    }
  }
}

@media (max-width: 600px) {
  .container-nav {
    ul {
      flex-direction: column;
    }

    li {
      width: 100%;
    }
  }
}